media-item {
  display: flex;
  flex-direction: column;
  width: 175px;
  height: 250px;
  border: 2px solid;
  background-color: #29394b;
  padding: 10px;
  color: #bdc2c5;

  h2 {
    margin: 0;
    font-size: 1.6em;
    flex: 1;
  }

  .tools {
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .favorite {
    width: 24px;
    height: 24px;
    fill: #bdc2c5;
  }

  .favorite.is-favorite {
    fill: #37ad79;
  }

  .favorite.is-favorite-hovering {
    fill: #45bf94;
  }

  .favorite.is-favorite.is-favorite-hovering {
    fill: #ec4342;
  }

  .button {
    display: block;
    padding: 4px;
    font-size: .8em;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
  }

  .delete {
    background-color: #ec4342;
  }

  .details {
    background-color: #37ad79;
  }

  .edit {
    background-color: #ce8b11;
  }
}

.medium-movies {
  border-color: #53ace4;
  h2 {
    color: #53ace4;
  }
}

.medium-series {
  border-color: #45bf94;
  h2 {
    color: #45bf94;
  }
}
